body {
    font-family: sans-serif;
}

.hangman-decorator {
    position: fixed;
    transform: rotate(-40deg);
    font-size: 200px;
    top: 180px;
    color: #ff6000;
    z-index: -1;
}

.hangman-button {
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #ff6000;
    margin: 25px;
    border: 1px solid white;
    float: right;
}

.hangman-button:active {
    border-style: none;
    border: 1px solid #ff6000;
}

.hangman-button:focus {
    outline: 0;
}

.hangman-center {
    text-align: center;
    padding-top: 10%;
}

.hangman-center * {
    margin: 10px;
    font-size: 100px;
}

.hangman-center input {
    border: 0;
    width: 100px;
    caret-color: #ff6000;
    color: #ff6000;
    font-weight: bolder;
    background: transparent;
}

.hangman-center input:focus {
    outline: none;
}

.hangman-notice, #hangman-counter {
    font-size: 20px;
}

#hangman-counter {
    font-size: 50px;
}

#hangman-word-container {
    font-family: monospace;
    font-size: 150px;
}